<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solver Function | David Pedraza</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/media/img/logo.png">
</head>
<body>
    <main class="form" id="form">
        <h1>Formulario de información</h1>
        <section class="block-1 form-section">
            <textarea required placeholder="Texto del caso" class="input" name="text" id="text" type="text"></textarea>
        </section>
        <h1 style="margin-bottom: 12px;">Restricciones</h1>
        <section class="second-part">
            <div id="fieldsContainer">
                <div class="field">
                    <h4 style="width: 30%;">Variable</h4>
                    <h4 style="width: 30%;">Valor</h4>
                    <h4 style="width: 30%;"></h4>
                </div>
            </div>
            <div class="buttons">
                <button class="submit-button" onclick="submitData()">
                    <p class="submit">Enviar</p>
                </button>
                <button type="button" class="button col-7" onclick="addFieldGroup()">
                    <span class="button__text">Añadir</span>
                    <span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>
                </button>
            </div>
        </section>
    </main>
    <script src="/static/js/main.js"></script>
</body>
</html>